
.curricula__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 180px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.curricula {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
  .curriculum {
    width: 320px;
    margin: 0 20px 50px;
    flex-shrink: 0;
    text-decoration: none;
    border: solid 1px '#C48E67';
  }
  
  /* @media screen and (max-width: 1279px) {
    .curricula {
      padding: 15px 21px 214px;
    }
  
    .curriculum {
      width: calc((100% - 12px) / 2);
      margin: 0 3px 24px;
    }
  } */
  