.carousel-container {
    margin-top: 60px;
}

.ant-float-btn-description {
    height: 20px !important; /* Use !important sparingly */
}
   
#tour-icon-wrapper {
    width: 2em;  /* Adjust the size as needed */
    height: 2em; /* Adjust the size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.ant-tour-content {
    width: 1000px; /* Set your desired width */
    /* padding: 50px 50px 50px 50px; */
}

.ant-tour-title {
    font-size: 20px !important;
    padding: 0px 0px 0px 20px !important;
}

.ant-tour-description {
    font-size: 16px;
    padding: 0px 40px 0px 40px !important;
}

.ant-tour-indicators {
    padding: 0px 0px 0px 20px !important;
}
  