.main {
    padding: 150px 0 120px;
    height: auto;
    width: 80vw;
    border: solid 5px rgb(255, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    font-family: Arial;
}