.profile__sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 20px solid #FAAC58;
}

.image__container{
  margin: 240px 80px 0px 40px;
} 

.profile__container{
  margin: 0px auto;
  padding: 120px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}s

.input {
  width: 600px;
}

.curricula__sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.curriculum__con{
  align-self: center;
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
  padding-bottom: 180px;
}